.item {
  display: flex;
  flex-direction: column;
  width: rem-calc(343);
  height: rem-calc(164);
  margin: rem-calc(32) rem-calc(32) 0 0;
  border: rem-calc(1) solid rgba(213, 215, 218, 1);
  border-radius: rem-calc(12);
}