.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.toastContainer {
  position: fixed;
  top: rem-calc(32);
  right: rem-calc(32);
  width: rem-calc(300);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}